

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:root{
    --button-hover-success-color: rgb(97, 243, 97)
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}
.menu {
    width: auto;
    max-width: 200px;
}
.menu__navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal {
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
}
.modal__card {
    position: absolute;
    transform: translate(50%, 0);
    min-width: 300px;
    background: #fff;
    top: 10%;
    right: 50%;
    border-radius: 10px;
    padding: 20px;
}

.modal__heading {
    text-align: center;
}
.display-hidden {
    display: none;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
.test__heading{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: .7rem;
}
.test__button-success{
    margin-top: .7rem;
    width: 100%;
    padding: .5rem 1rem;
    background: lightgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.test__button-success:hover{
background: var(--button-hover-success-color);
}


.registration-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
}
.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
}
.form__group-select {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form__group-select input{
    position: absolute;
    z-index: -1;
    opacity: 0;
    color: lightgray;
}
.form__group-select label{
    display: inline-flex;
    gap: 10px;
    align-items: center;
    position: relative;
    padding-left: 25px;
    color: inherit;
}
.form__group-select label:before{
    position: absolute;
    content: " ";
    display: block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: 0;
    border: 1px solid currentColor;
    z-index: 1;
}

.form__group-select input:checked+label:after{
    position: absolute;
    content: " ";
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    left: 2px;
    z-index: 2;
    background-color: currentColor;
}
.form__group p {
    margin: 0;
}
.registration-form__text-field {
    min-height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightgrey;
}
.registration-form__text-field-error {
    border-color: lightcoral;
    color: lightcoral;
}
.registration-form__text-field-error+label{
    color: lightcoral;
}
.form__group button {
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.form__group button[type="submit"] {
    background-color: lightgreen;

}
.form__group button[type="submit"]:hover {
    background-color: var(--button-hover-success-color);
}
.test__content{
    margin: 1.2rem 0;
}
.test__content .form__group {
    margin: .7rem 0;
}
.test__result-desc{
    font-weight: bold;
    margin-bottom: .3rem;
}
.test__result-desc span{
    font-weight: normal;
    text-decoration: underline;
}
.test__result-heading{
    text-align: center;
    margin-top: .7rem;
    font-size: 1.5rem;
}